.is-header {
  background-color: #5264ae;
  display: flex;
  height: 60px;
  color: white;
  padding: 0 40px;
  justify-content: space-between;
}
.is-header .is-left {
  background-color: #4e5fa5;
  height: 100%;
  line-height: 60px;
  padding: 0 20px;
}
.is-header .is-right {
  background-color: #4e5fa5;
  height: 100%;
  line-height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
header .left:hover,
header .right:hover {
  cursor: pointer;
}
header .right img {
}

/* end: first section to 혜원 */

/* end: first section to 혜인 */

/* end: second section to 혜림 */

/* end: second section to 해경 */
.hk-chickenmember {
  box-shadow: 10px 5px 5px black;
  padding: 19px;
  height: 500px;
  width: 700px;
  margin: 0 auto;
}
.hk-chickenmember>* {
  margin-bottom: 50px;
}
.hk-chickenmember h2 {
  font-size: 30px;
}
.hk-chickenmember .number {
  border: none;
  border-bottom: 1px solid;
}
.hk-chickenmember .btn {
  background-color:#0f9d58;
  border: none;
  width: 100px;
  height: 40px;
  font-size: 20px;
}
